[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-cors = "*"
flask = "*"
seaborn = "*"
pandas = "*"
plotly = "*"
requests = "*"

[dev-packages]
functions-framework = "*"

[requires]
python_version = "3.8"
